/*
    Let it be known: This theme by TallerThanShort is unfinished! Expect many-a-patches here! (this will get updated pretty much only when it's needed)
    "crisychicken.css" is the official jankyCord theme, used across many jankyCord implementations, such as Crispy-Chat!
*/

.eligible {
    color: white;
}

a {
    color: aqua;
}

div {
    outline: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    
}

.appContainer {
    background-color: rgb(32, 32, 32);
    text-rendering: optimizeLegibility;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.appPanel {
    -webkit-box-flex: 1;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    min-height: 0;
}

.notPanel {
    -webkit-box-flex: 1;
    flex: 1;
    min-width: 0;
}

.application {
    z-index: auto;
    height: 100%;
    position: relative;
}

.app-primary {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(21, 21, 21);
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.layer1 {
    position: relative;
    /*overflow: hidden;*/
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
}

.layer2 {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    /*bottom: 0;*/
    left: 0;
    display: flex;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
}

.guildNav {
    position: relative;
    width: 72px;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background-color: rgb(21, 21, 21);
}

.unorderedList1 {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.scroller {
    user-select: none;
    padding: 12px 0 0;
    scrollbar-width: none;
}

.guildItem {
    position: relative;
    margin: 0 0 8px;
    display: flex;
    -webkit-box-pack: center;
    width: 72px;
}

.guildImageContainer {
    box-sizing: border-box;
    position: relative;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.guildImage {
    display: flex;
    width: 48px;
    height: 48px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
